@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

.test {
  @apply border border-red-500;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --radius-sm: calc(var(--radius) * 0.75);
  --radius-md: var(--radius);
  --radius-lg: calc(var(--radius) * 1.25);
  --radius-xl: calc(var(--radius) * 1.5);
}

:root {
  --background: #F0F1F2;
  --foreground: #0f172a;

  --card: #C7CBCE;
  --card-foreground: #0f172a;

  --primary: #585C7D;
  --primary-foreground: #fff;

  --secondary: #607D8B;
  --secondary-foreground: #fff;

  --muted: #f8fafc;
  --muted-foreground: #64748b;

  --accent: #8A6D95;
  --accent-foreground: #fff;

  --border: #585C7D;
  --input: #e2e8f0;
  --ring: #94a3b8;  

  --radius: 0.5rem;
}

.dark {
  --background: #20202c;
  --foreground: #e1e1ea;

  --card: rgba(64, 64, 89, 0.80);
  --card-foreground: #f8fafc;

  --primary: #6263b7;
  --primary-foreground: #0f172a;

  --secondary: #9697cf;
  --secondary-foreground: #f8fafc;

  --muted: #1e293b;
  --muted-foreground: #cbcbe7;

  --accent: #8A6D95;
  --accent-foreground: #f8fafc;

  --border: rgba(255, 255, 255, 0.1);
  --input: rgba(255, 255, 255, 0.15);
  --ring: #64748b;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }

  html {
    @apply font-sans;
  }
}

html {
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 20px;
}